# NPM Configuration
# cf. https://docs.npmjs.com/misc/developers#keeping-files-out-of-your-package

.DS_Store
node_modules/

# Logs
*.log

# Test files
test/e2e/reports
test/e2e/screenshots

# Built files
# (You want to keep that directory and its files when publishing to npmjs)
# dist/*

# Coverage files
test/unit/coverage
.coveralls.yml

# Config and settings directory from PhpStorm/WebStorm
.idea

# Other files you do not want to upload when publishing to npmjs
.github/
config/
doc/Documentation.md
test/
tools/
.*
